body {
  margin: 0;
  font-family: sans-serif;
  background: #eeeeee;
}
div[is="igniter-app"] {
  display: block;
  margin: 50px 100px;
}
.col, igniter-app  {
  display: flex;
  flex-direction: column;
}
.row, .stats .name {
  display: flex;
  flex-direction: row;
}
.app-title {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}
.product {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  transition: all 0.3s 0s ease-out;
  background: white;
  overflow: hidden;
  cursor: pointer;
}
.product:hover {
  box-shadow: 0 10px 20px -10px #888;
}
.product img {
  width: 300px;
  height: 200px;
}
.stats {
  padding: 20px 15px;
}
.stats .name {
  padding: 5px 0;
  justify-content: space-between;
}
.price {
  color: #1cbf43;
}
.description {
  color: #888888;
}
